* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Playfair Display', 'serif';
  margin: 0;
  padding: 0;
}

header {
  position: absolute;
  width: 100%;
  top: 0;
  z-index: 1000;
}

.top-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: transparent; /* Make the background transparent */
  color: black;
}

.menu-container {
  display: flex;
  align-items: center;
  gap: 20px;
}

.menu {
  list-style: none;
  display: flex;
  gap: 20px;
}

.menu li a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 16px;
  transition: color 0.3s ease;
}

.menu li a:hover {
  color: #555;
}

.top-menu .logo {
  font-size: 24px;
  font-weight: bold;
  color: black; /* Adjust color as needed */
}

.top-menu .menu {
  list-style: none;
  display: flex;
  gap: 20px;
}

.top-menu .menu li a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 16px;
  transition: color 0.3s ease;
}

.top-menu .menu li a:hover {
  color: #555; /* Add hover effect */
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

nav ul li a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

/* Styling for the navigation menu remains the same */
.search-container {
  display: flex;
  align-items: center;
  margin-left: 20px;
}

.search-container input[type="text"] {
  padding: 5px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 3px;
  outline: none;
  transition: width 0.3s ease;
  width: 0; /* Hidden by default */
  visibility: hidden; /* Hidden by default */
}

.search-container input[type="text"].visible {
  width: 150px; /* Width when visible */
  visibility: visible;
}

.search-container button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.search-container .search-icon {
  width: 20px;
  height: 20px;
}

.hero {
  background-image: url('img/hero-image.png'); /* Replace with the actual image */
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero h1 {
  font-family: 'Playfair Display', 'serif';
  font-size: 54pt;
  font-weight: 700;
  letter-spacing: -0.8px;
  line-height: 1.33;
  color: black;
  background-color: transparent;
  padding: 20px 40px 20px 40px;
  border: 8px solid black;
}
